BOT_TOKEN=8742513004:AAGmVZj_xhXRV9xc8cxX2l7blkeVhDg4Dq4

GROUP_ID=-1002510797113

TOPIC_ID=4614

SHEET_URL=https://script.google.com/macros/s/AKfycbxVw01ac8HH8IWMXjn4zFURIuWDKupRt6IXH2Wp4Pn6jDGlE0LI9X4apTGHyWiA_EYO/exec
